<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
<listeners>
     <listener class-name="com.uk.zoopla.listeners.Zoopla_Listeners"/>
</listeners>
  <test name="Nopackage" >
    <classes>
       <class name="com.uk.zoopla.runnertest.Zoopla_MyRunner" />
    </classes>
  </test>
 
  
</suite>
